<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/application-%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder immediateFlush="false">
			<pattern>%d{dd MMM yyyy HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.se" additivity="false" level="${log.level}">
		<appender-ref ref="ROLLING" />
	</logger>

	<root level="${log.level}">
		<appender-ref ref="ROLLING" />
	</root>

</configuration>